* { 
    box-sizing: border-box;
}

html, body{ 
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;

}

.site-header {
    background-color:  #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.nav {
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 0 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid #6366F1;
    background-color: #6366F1;
    color: #ffffff;
    border-radius: 4px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    align-items: center;
    justify-content: center;
} 
.text-logo {
    font-size: 15px;
    font-weight: 700;
    color: #0B0F19;
    text-decoration: none;
    
}
.link {
    text-decoration: none;
    color: #565973;
    font-size: 12px;
    margin: 20px;

}

.bi {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 8px;
}



